<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csjbot.api.product.dao.Pms_pay_alipay_urlDAO">
    <select id="findPAUByKey" resultType="com.csjbot.api.product.model.Pms_pay_alipay_url">
        select * from pms_pay_alipay_url where redirect_key=#{key}
    </select>
</mapper>