<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csjbot.api.pay.service.OrderPayDBService">

    <select id="getAccount" resultType="hashmap">
        select code_orig code, value from cms_secret;
    </select>

    <insert id="newOrder" parameterType="com.csjbot.api.pay.model.PmsOrderPay">
        insert into pms_order_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_id,
            order_time,
            order_pseudo_no,
            order_total_fee,
            order_status,
            pay_service,
            pay_method,
            pay_product_id,
            pay_status,
            robot_uid,
            robot_model,
            <if test="orderRequestText != null">
                order_request,
            </if>
            <if test="payRequestText != null">
                pay_request,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{orderId,jdbcType=VARCHAR},
            #{orderTime,jdbcType=TIMESTAMP},
            #{orderPseudoNo,jdbcType=VARCHAR},
            #{orderTotalFee,jdbcType=INTEGER},
            #{orderStatus,jdbcType=VARCHAR},
            #{payService,jdbcType=VARCHAR},
            #{payMethod,jdbcType=VARCHAR},
            #{payProductId,jdbcType=VARCHAR},
            #{payStatus,jdbcType=VARCHAR},
            #{robotUid,jdbcType=VARCHAR},
            #{robotModel,jdbcType=VARCHAR},
            <if test="orderRequestText != null">
                #{orderRequestText,jdbcType=LONGVARCHAR},
            </if>
            <if test="payRequestText != null">
                #{payRequestText,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateOrder" parameterType="com.csjbot.api.pay.model.PmsOrderPay">
        UPDATE pms_order_pay SET
        <if test="orderStatus != null">
            order_status = #{orderStatus,jdbcType=VARCHAR},
        </if>
        <if test="orderErrCode != null">
            order_err_code = #{orderErrCode,jdbcType=VARCHAR},
        </if>
        <if test="orderErrDesc != null">
            order_err_desc = #{orderErrDesc,jdbcType=VARCHAR},
        </if>
        <if test="payCodeUrl != null">
            pay_code_url = #{payCodeUrl,jdbcType=VARCHAR},
        </if>
        <if test="prePayId != null">
            prepay_id = #{prePayId,jdbcType=VARCHAR},
        </if>
        <if test="payStatus != null">
            pay_status = #{payStatus,jdbcType=VARCHAR}
        </if>
        <if test="payErrCode != null">
            pay_err_code = #{payErrCode,jdbcType=VARCHAR},
        </if>
        <if test="payErrDesc != null">
            pay_err_desc = #{payErrDesc,jdbcType=VARCHAR},
        </if>
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </update>


    <insert id="insertOrderList" parameterType="java.util.List">
        INSERT INTO pms_order_detail( order_id, item_id, item_amount) VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.orderId}, #{element.itemId}, #{element.itemAmount}
        </foreach>
    </insert>

    <select id="getUnitPrice" resultType="java.lang.Integer" parameterType="string">
        select round(price*100) up from pms_product where id=#{itemId};
    </select>

    <select id="getOrderStatus" resultType="java.lang.String" parameterType="string">
        SELECT order_status FROM pms_order_pay WHERE order_id =#{orderId};
    </select>

    <!--<update id="updateUnitPrice" parameterType="string">-->
    <!--update pms_order_detail t-->
    <!--inner join pms_product s-->
    <!--on t.item_id = s.id-->
    <!--set t.unit_price=s.price-->
    <!--where t.order_id=#{orderId};-->
    <!--</update>-->

    <!--<select id="calculcateTotalFee" resultType="java.lang.Integer" parameterType="string">-->
    <!--select round(sum(item_qty*unit_price*100)) total_fee-->
    <!--from pms_order_detail where order_id = #{orderId};-->
    <!--</select>-->
</mapper>