<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csjbot.api.meals.dao.Scs_desk_infoDAO">
    <select id="selectDeskByNubmer" resultType="com.csjbot.api.meals.model.Scs_desk_info">
        select * from scs_desk_info where number=#{number}
    </select>
</mapper>