<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <!--mutual import? relative path-->
    <import resource="../applicationContext.xml"/>

    <!--<bean id="orderPaySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="mapperLocations" value="classpath*:com/csjbot/pay/mapper/OrderPayMapper.xml"/>-->
        <!--<property name="dataSource" ref="dataSource"></property>-->
        <!--<property name="typeAliasesPackage" value="com.csjbot.pay.model"></property>-->
        <!--&lt;!&ndash;do not need type alias&ndash;&gt;-->
    <!--</bean>-->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="com.csjbot.pay.service"/>-->
        <!--<property name="sqlSessionFactoryBeanName" value="orderPaySqlSessionFactory"/>-->
    <!--</bean>-->
    <bean id="mybatisOrderPayDBService" class="com.csjbot.pay.service.MybatisOrderPayDBService">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <util:properties id="appProperties" location="classpath:application.properties"/>
    <bean id="wxConfig" class="com.csjbot.pay.controller.WxConfig">
        <constructor-arg ref="appProperties"/>
    </bean>
    <bean id="jacksonMapper" class="com.csjbot.pay.service.JacksonMapper"/>

    <!--<bean id="wxReqBuilder" class="com.csjbot.pay.controller.WxOrderRequestBuilder">-->
        <!--<constructor-arg ref="wxConfig"/>-->
        <!--<constructor-arg ref="mybatisOrderPayDBService"/>-->
    <!--</bean>-->

    <bean id="wxController" class="com.csjbot.pay.controller.WxController">
        <constructor-arg type="com.csjbot.pay.controller.WxConfig"
                         ref="wxConfig"/>
        <constructor-arg type="com.csjbot.pay.service.MediaTypeParser"
                         ref="jacksonMapper"/>
        <constructor-arg type="com.csjbot.pay.service.OrderPayDBService"
                         ref="mybatisOrderPayDBService"/>
    </bean>
</beans>